<h1>Movies</h1>


<% @movies.each do |movie| %>
  <div class="poster">
    <p><%= movie.title %></p>
    <%= image_tag movie.poster_url(:thumb) if movie.poster? %>
    <%= link_to 'delete', movie, :method => :delete, :data => { :confirm => "I am sure???? " } %>
  </div>
<% end %>